.grid-two-colums {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-container {
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(180deg, #aecf79 50%, #000 50%);
    height: 100vh;
    justify-content: center;
    width: 100%;

    img{
        border: 1px solid #000;
        border-radius: 50%;
        margin: 50px 0 20px 0;
        width: 200px;
    }
}

.title {
  width: 315px;
  h1{
    color: #f4f4f4;
    font-size: 100px;
    text-align: center;
    
}
}