<section class="grid-two-colums">
    <section class="content--left">
        <img src="assets\profile_picture.jpeg" alt="Profile picture">
        <h1>Igor Lopes</h1>

        <p class="subtitle">Desenvolvedor Full Stack Jr.</p>

        <hr>

        <h4>Perfil Pessoal</h4>
        <p>Estudante de Ciência da Computação, proativo e apaixonado por tecnologia. Atualmente focado no setor de desenvolvimento.</p>

        <h4>Habilidades e Competências</h4>
        <ul>
            <li>Inglês avançado</li>
            <li>Um ano de experiência em Toronto, Canadá</li>
            <li>Habilitação AB</li>
            <li>Domínio em Informática avançada</li>
            <li>Facilidade para trabalhar em equipe</li>
            <li>Criatividade e interesse em aprender</li>
        </ul>

        <a href="#">
            <span>Button</span>
            <div class="liquid"></div>
        </a>

    </section>
    
    
    
    
    
    
    <section class="content--right">
        <p>teste</p>
    </section>
</section>