*{
  font-family:'Courier New', Courier, monospace;
}

.content {
  width: 100%;
}

.footer{
  align-items: center;
  background-color: #f4f4f4;
  bottom: 0;
  color: #616161;
  display: flex;
  font-size: 10px;
  height: 35px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

h1{
  font-family: 'Rubik Glitch', cursive;
}